h3 {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
}

a {
  display: block;
  width: 300px;
  margin: 15px auto;
  border: 0px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
}

a:hover {
	background-color: gold;
  transition-duration: 0.5s;
}